.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 1em;
    color: transparent;
}

.square:hover {
    color: white;
}